# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Installer and executable files
*.exe

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log